.Chats {
  display: flex;
  align-items: center;
  background-color: rgb(240, 237, 237);
  padding-bottom: 10px;
}
.Chats_container {
}
.message_container {
  margin-top: 30px;
  margin-left: 7px;
  display: flex;
  align-items: center;
}
.message {
  background-color: lightgray;
  border-radius: 10px; /* 10px rounding */
  margin-left: 5px;
  padding: 5px 10px;
}
.usermessage {
  background-color: lightgray;
  border-radius: 10px; /* 10px rounding */
  display: flex;
  justify-content: end;
  padding: 0;
}
